/* universal */
body, section{
  padding: 6%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #2B2B2B;
}

.centered{
  text-align: center;
}

.left-align{
  text-align: left;
  position: 50% 50%;
}

.bg-image{
  background-position: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  /* max-width: 100%; */
  min-height: 50vh;
}

.green-font{
  color: #BBC085;
  font-family: 'Lora', serif;
  font-size: 1.5rem;
}

.gray-font{
  color: #9B9B9B;
  line-height: 1.5rem;
}

h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}

.padding-top{
  padding-top: 5%;
}

.padding-bottom{
  padding-bottom: 7%;
}

.black-font{
  color: #2B2B2B;
  font-size: 1.5rem;
}

/********* hero **********/
header{
  margin: 0;
}

header a{
  text-decoration: none;
  padding: 5%;
  color: #828282;
  font-family: 'Source Sans Pro', sans-serif ;
}

.heading{
  padding: 5% 0 0 6%;
  font-size: 1.9rem;
}

.banner-image{
  background-position: 30% 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  /* max-width: 100%; */
  height: 90vh;
}

/********** skills *********/

#skills{
  background-color: #f9ceb7;
  text-align: center;
  font-family: 'Lora', serif;
  padding: 5%;
  line-height: 1.4rem;
  font-size: .9rem;
  color: #2B2B2B;
}

#skills h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-size: 1.2rem;
  /* line-height: 1.4rem; */
}

.icons{
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    /* max-width: 100%; */
    min-height: 20vh;
}

.col-padding{
  padding: 0 5% 0 5%;
}

.first-icon{
  margin-top: -11px;
}

/******** contact section ******/
.contact{
  background-color: #ebebeb;
}

.contact-pic{
  border: 12px solid white;
  background-position: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.contact h2{
  font-family: 'Lora', serif;
  font-weight: 700;
  padding-bottom: .4rem;
}

.contact h4{
  font-weight: normal;
  font-size: 1.2rem;
  /* padding-bottom: .4rem; */
  line-height: 2rem;
}

.contact a{
  text-decoration: none;
  color: #c49075;
  font-weight: bold;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2rem;
}

.contact img{
    border: 0;
    max-inline-size: 1.4rem;
}

#social-media ul{
  padding-left: 0;
  margin:0;
  line-height: 3rem;
}

#social-media li {
     display: inline-block;
     text-decoration: none;
     padding-left: 0;
     padding-right: 2%;
}
#social-media img {
    max-inline-size: 2rem;
  }


/********** media queries *********/

@media only screen and (max-width: 575px) {
    .contact{
      text-align: center;
    }

    .contact img{
        display: none;
    }

    #social-media img{
      max-inline-size:1.8rem;
      display: inline;
    }
  }

  @media only screen and (max-width: 770px) {
    .contact-pic{
      border: 12px solid white;
      background-position: center;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 50vh;
      margin-bottom: 4%;
    }
  }

  @media only screen and (min-width: 576px) and (max-width: 800px) {
      .contact{
        text-align: center;
      }

      .contact a{
        text-decoration: none;
        color: #c49075;
        font-weight: bold;
        display: inline-block;
        font-size: 1.2rem;
        line-height: 2rem;
      }

      .contact img{
          display: none;
      }

      #social-media img{
        max-inline-size:1.8rem;
        display: inline;
      }
    }

    @media only screen and (min-width: 801px) and (max-width: 952px) {
      .contact a{
        text-decoration: none;
        color: #c49075;
        font-weight: bold;
        display: inline-block;
        font-size: 1rem;
        line-height: 2rem;
      }
      .contact img{
          border: 0;
          max-inline-size: 1rem;
      }
    }


/* colors and fonts:
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lora', serif;

colors: #2B2B2B black; #9B9B9B gray; #BBC085 green; #f9ceb7 light pink; #ebebeb lt gray bg */
